body {
  background-color: #006d77;
}
.App {
  text-align: center;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 4px #e29578;

}
.App {
  background-color: #83c5be;
  margin: 3% 28%;
  padding: 20px 30px;
  border-radius: 20%;
}
.do {
  background-color: #006d77;
}
button {
  background-color: #168aad;
  color: #dfe7fd;
  border-radius: 100px;
}